.toggle-group {
	display: flex;
	align-items: baseline;
	justify-content: flex-end;
}

.dark-mode-text {
	color: hsl(228, 12%, 44%);
	font-size: 0.9rem;
}

/* .toggle {
	-webkit-appearance: none;
	position: relative;
	width: 48px;
	height: 24px;
	background-color: hsl(230, 22%, 74%);
	border-radius: 20px;
	cursor: pointer;
	outline: none;
	top: 6px;
	right: 0;
} */

.toggle:before {
	-webkit-appearance: none !important;
	-moz-appearance: none;
	appearance: none;
	content: "";
	position: absolute;
	top: 2px;
	left: 3px;

	outline: none;
	width: 18px;
	height: 18px;
	background-color: white;
	border-radius: 50%;
	cursor: pointer;
}

.toggle:checked {
	-webkit-appearance: none;
	-moz-appearance: none;

	background-image: linear-gradient(
		90deg,
		rgba(55, 143, 230, 1) 0%,
		rgba(62, 218, 130, 1) 100%
	);
	border-image: linear-gradient(
		90deg,
		rgba(55, 143, 230, 1) 0%,
		rgba(62, 218, 130, 1) 100%
	);
}

.toggle:checked:before {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	transform: translate(120%);
	background-color: hsl(230, 17%, 14%);
}

@media only screen and (max-width: 560px) {
	.toggle-group {
		justify-content: space-between;
		padding-top: 6px;
		width: 100%;
	}
}
