/* Desktop screens */
.grid-container {
	display: grid;
	grid-template-columns: repeat(4, 25%);
	grid-template-rows: repeat(1, auto);
	grid-column-gap: 24px;
	grid-row-gap: 24px;
	padding-bottom: 30px;
}

/* Mobile screens */
@media only screen and (max-width: 1078px) {
	.grid-container {
		display: grid;
		grid-template-columns: repeat(2, 50%);
		grid-template-rows: repeat(2, auto);
		grid-column-gap: 10px;
		grid-row-gap: 10px;
	}
}

@media only screen and (max-width: 768px) {
	.grid-container {
		display: grid;
		grid-template-columns: repeat(1, 50%);
		grid-template-rows: repeat(2, auto);
		grid-column-gap: 14px;
		grid-row-gap: 14px;
	}
}
